<script>
$(document).ready(function(){


    $('.loadImage').click(function(){
    
        var thisUrl = $(this).attr("data-url");
        var idx = $(this).attr("data-idx");
        var imageContainer = $(this).next('.imagePreview');
        imageContainer.html("...");
        $.ajax({
            url: "/harvestImages?url="+thisUrl,
            type: "get",
            success: function (data) {
                imageContainer.empty();
                if (typeof data.error!="undefined") {
                    alert(data.error);  
                }
                if (data.image) {
                    $('<input type="checkbox" name="imgs" value="'+data.image+'"><img src="'+data.image+'" class="img-thumbnail img-responsive" width="150" title="meta image">').appendTo(imageContainer);
                }
                if (data.images && data.images.length>0) {
                    $('<input type="checkbox" name="imgs" value="'+data.images[0]+'"><img src="'+data.images[0]+'" class="img-thumbnail img-responsive" width="150" title="first image">').appendTo(imageContainer);
                }
            },
            error: function (e) {console.log('error:'+e);}
        });
        return false;
    });

    $('#btnGet').click(function(e){
        $.ajax({
            url: "posts",
            type: "get",
            success: function (data) {
                if (typeof data.error!="undefined") {
                    alert(data.error);
                    $('#btnFork').button("reset");
                } else {
                    var results = data.results;
                    for(var i=0; i<results.length; ++i) {
                        var cont = $("<div class='col-9'><b>"+results[i].title+"</b>"+results[i].desc+"</div>");
                        if (results[i].images && results[i].images.length>0) {
                            $("<div class='col-3'><a href='"+results[i].url+"'><img src='"+results[i].images[0]+"' class='img-responsive'></a></div>").appendTo('#posts');
                        }
                        else {
                            $("<div class='col-3'></div>").appendTo('#posts');
                        }
                        cont.appendTo("#posts");
                    }
                }
            },
            error: function (e) {console.log('error:'+e);$('#btnFork').button("reset");}
        });
    });
    
    $('#btnFeed').click(function(e){
        var lastId = $('#lastId').val();
        $.ajax({
            url: "/feed?format=json&lastId="+lastId,
            type: "get",
            success: function (data) {
                if (typeof data.error!="undefined") {
                    alert(data.error);
                } else {
                    var results = data.results;
                    console.log(results);
                    if (results.length>0) {
                        for (var i=0;i<results.length-1;i++) { // lastId (since_id) is included in results
                            var tr = $("<tr></tr>");
                            $('<td>'+results[i].account+'</td>').appendTo(tr);
                            $('<td><input type="checkbox" id="urls" name="urls" value="'+results[i].url+'"></td>').appendTo(tr);
                            $('<td>'+results[i].url+'</td>').appendTo(tr);
                            $('<td>'+results[i].text+'</td>').appendTo(tr);
                            $('<td>image</td>').appendTo(tr);
                            tr.prependTo("#tblFeed tbody");
                        }
                        $('#lastId').val(results[0].id);
                    }
                    else {
                        alert("No new updates!");
                    }
                }
                
            },
            error: function (e) {console.log('error:'+e); $('#btnFork').button("reset");}
        });
    });
});
</script>
<div class="container">
    
    <h2>Feed</h2>
    <form action="/fetch" method="POST">
        <table class="table table-striped" id="tblFeed">
            <thead>
            <tr>
                <th>Source</th>
                <th></th>
                <th>Url</th>
                <th>Tweet</th>
                <th>Images</th>
            </tr>
            </thead>
            <tbody>
            <%for (var i=0;i<results.length;i++) {%>
            <tr id="trFeed">
                <td><%=results[i].account%></td>
                <td><%if(typeof results[i].exists!="undefined" && results[i].exists==="1"){%>x<%}else{%><input type="checkbox" id="item<%=i%>" name="urls" value="<%=results[i].url%>" /><%}%></td>
                <td><%=results[i].url%></td>
                <td><%=results[i].text%></td>
                <td><%if(typeof results[i].exists!="undefined" && results[i].exists==="1"){%><img src="<%=results[i].image%>" width="150" class="img-thumbnail" /><%}else{%><a href="#" class="loadImage" data-idx="<%=i%>" data-url="<%=results[i].url%>">image</a><div class="imagePreview"></div><%}%></td>
            </tr>
            <%}%>
            </tbody>
        </table>
        <input type=hidden name="lastId" id="lastId" value="<%=results[0].id%>">
        <button type="submit" class="btn btn-default">Save</button>  <button type="button" id="btnFeed" class="btn btn-default">Refresh Feed</button>
    </form>
    
    
    <hr>
    <button type="button" id="btnGet">Get Posts</button>
    
    <h2>Posts</h2>
    
    <%for (var i=0;i<posts.length;i++) {%>
    <div class="row">
        <div class="col-md-2">
            <a href="<%=posts[i].url%>"><img src="<%=posts[i].image%>" class="img-thumbnail img-responsive" width="200"></a>
        </div>
        <div class="col-md-10">
            <h4><%=posts[i].title%></h4>
            <%=posts[i].desc%>
        </div>
    </div>
    <%}%>
    
    <hr>
    
    <a href="#modalSource" class="btn btn-primary" data-toggle="modal">Source</a>
    
</div>

<div id="modalSource" class="modal">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
            <h3>Source</h3>
            <p>add a new feed</p>
        </div>
        <div class="modal-body">
              <form class="form form-horizontal" id="formSource">
                  <div class="control-group">
                      <label class="control-label">Home page</label>
                      <div class="controls">
                          <input type="text" name="urlHome" id="urlHome" placeholder="http://" class="form-control">
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Name</label>
                      <div class="controls">
                          <input type="text" name="sourceName" id="sourceName" placeholder="Name / title" class="form-control">
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Description</label>
                      <div class="controls">
                          <textarea name="sourceDesc" rows="4" id="sourceDesc" placeholder="Description"  class="form-control"></textarea>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Logo</label>
                      <div class="controls">
                          <input type="text" name="logoSmall" id="logoSmall" placeholder="" class="form-control">
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Tags</label>
                      <div class="controls">
                          <input type="text" name="sourceTags" id="sourceTags" placeholder="tag1,tag2,tag3" class="form-control">
                      </div>
                  </div>
              </form>
        </div>
        <div class="modal-footer pull-center">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">Cancel</a>     
            <a href="#" data-dismiss="modal" aria-hidden="true" id="btnSource" role="button" class="btn btn-success">Save</a>
        </div>
    </div>
    </div>
</div>